/*
  General use
*/
.My-badge{
  background: #117D91 !important;
}

.biggerGlyphicon {
  font-size: 1.6em;
}

.inputText {
  text-align: center;
}

ul{
  list-style: none;
}
/*
  HEADER
*/

.header {

  width: 100%;
  height: 56px;
  text-align: center;
  border-bottom: 1px solid lightblue;
  display: flex;
  flex-flow: row, nowrap;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.leftNav > button{
    margin-top: 10px !important;
}
.navegador > button {
  margin-top: 10px !important;

}
.upper {
  position: relative;
  top: 15px;

}

.navegador{
  display: flex;
  flex-flow: row, nowrap;
  height: 30%;
  width: 70%;
  margin-left: 5px;
}

.calendario{
  height: 36px !important;
}


.search{
  width: 63%;
  display: flex;
  flex-flow: column;
  margin-top: 10px;
  height: 36px !important;
  position: relative;

}

.search-btn-input{
    display: flex;
    flex-flow: row, nowrap;
    margin-top: 0px;
    height: 100%;
}
.search-btn-input>button{
  height: 100%;
  margin-top: 0px;
}


.input-search{
  margin-top: px;
}

.search-ul{
  width: 250px;
  z-index: 10;
}

.Mylist-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #555;
    width: 78%;
}

.Mylist-group-item:hover{
  color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

.principal{
  width: 30%;
  /*position: relative;*/
  display: flex;
  flex-flow:row nowrap;
  justify-content:flex-end;
  left: 40px;
}

.principal>div{
  width:80px;
  margin-top: 3px;
  margin-right: 10px;
  z-index: 3;
}

.calendar-btn{
  width: 10%;
}

.principal a{
  margin-right: 0;
}



.image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  top: -8px;
}



.search-div{
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/*.calendarHeader {
  position: relative;
  top: 10px;
}*/
.My-control{
  height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 10px;

}

.notificationContainer {
  /*margin-top: 10px;
  */
}

.notificationIcon {
  height: 20px;
  width: 20px;

  background-color: grey;
  color: white;

  border-radius: 50%;

}

.hideNoti {
  display: none;
}

.isOpen {
  width: 20em !important;
  height: 20em;
  background-color: grey;
}

/*
  NOTIFICATIONS
*/

.btnNotifications {
  margin-left: 10px;
}

.notificationList {
  border: 1px solid black;
  border-radius: 10px;

  width: 60%;
  padding: 10px;
}

/*
  SECTION
*/

.article {
  background-color: #F8F8F8;
  width: 100%;
  height: 400px;
  float: left;
}

.positionButton {
  position: relative;
  top: -18px;
}

/*
  LIST
*/

.list {

  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  border-bottom: 2px solid lightslategray;

  margin-right: 0 !important;
  margin-left: 0 !important;

}

.listNotCompleted {
  background-color: white;
}

.listCompleted {
  background-color: #A3A3A3;
}

.listCompleted:after {
  position: absolute;
  height: 1.5px;
  left: 22%;
  width: 73%;

  background-color: #C2C2C2;

  display: block;

  content: "";
}

.lists {
  width: 100%;
}

.listTitle {
  font-size: 2em;
  text-align: center;
}

.dateBtn {
  width: 93px;
}

.positionBadge {
  position: relative;
  top: 15px;
}

.button-pagination-lists{
  border-radius: 110px !important;
  margin-top: 20px;
  margin-bottom: 20px !important;
}
/*
*  TASKTITLE
*/

.togglePopover{
  width: 100px;
}

/*
  TASKS
*/

.navMarginTop {
  padding: 50px !important;
}
.vertical-align{
  vertical-align: 'middle';
}
.li-a{
  height: 4em;
}
/*.changeTask {
  margin-left: 35px;
}*/

.taskDone {
  position: relative;
}

.taskDone:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 2px;
  background: #8B8B8B;
  content: "";
  width: 100%;
  display: block;
}


.tableApparence {
  margin: 0 auto;

  border: 1px solid hotpink;

  text-align: center;
}

.marginBottomInput {
  margin-bottom: 20px;
}

.alignContent {
  line-height: 56px;
}

.alignTaskButton {
  margin-top: 11px;
}

.alignCheckBox {
  position: relative !important;
  top: 7px !important;
}

.biggerTasks {
  width: 30%;
  text-align: center;
}




/*
  ACCOUNT
*/

.account li{
  text-align: center;
}

.photo{
  display: inline-block;
  width:80px;
  height:80px;
  text-align: center;
  z-index: 2;
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 10px;
}
.glyphicon-camera{
  color:blue;
}

.photo img+div{
  width: 100%;
  height: 64px;
}

.photo div+div{
  position: relative;

  width:100%;
  height: 16px;
  background-color: lightgrey;
  opacity: 0.5;
  z-index: 3;
}

.photo a{
  position:absolute;
  top: 0;
  right: 2px;
  z-index: 4;
}

.photo img{
  float:right;
}



/*.aside{
  position: fixed;
  z-index: 1;
  background: green;
  opacity: 0.9;
}*/

.center{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
}


/*
* Avatar image
*/

.avatar{
  border-radius: 20px;
  width: 50px;
  height: 33px;
}

/*
  FRIENDS
*/

.avatarFriend {
  height: 80px !important;
  width: 80px !important;

  line-height: 70px !important;

}

.avatarLetter {
  font-size: 30px !important;

}

.inputFindFriends {
  width: 50% !important;
  border-radius: 20% !important;

}

.friendPhotoContainer {
  text-align: center;
}

.photoContainer {
  display: inline;
}

.friendRow {
  margin-top: 50px;
}

.friendName {
  position: relative;
  top: 10px;
}

.centered {
  text-align: center;
  margin-top: 30px;
}

.centerFriends {
  width: 80%;
  margin: 0 auto;
}

.friendsHeader {
  text-align: center;
}

.friendFinder {
  position: relative;
  left: 25%;
}

/*
* Groups
*/

.group-friends{
  display:flex;
  flex-flow:row wrap;
  align-items: center;
  padding-left: 2%;
  height: 45px;
}

.addGroup{
  display: flex;
  justify-content: flex-end;
  padding-right: 1%;
}

.addGroup + div{

}

.deleteEdit{
  width: 50px;
  display: flex;
  justify-content: space-around;
}

.subMenuCont{
  padding-left: 5%;

}

.subMenuCont input{
  max-width: 200px;
  border: solid 1px lightblue;

}

.inputDiv{
  display: flex;
  flex-flow:column nowrap;
  max-width:200px;

}

.tools{

  color:black;
  font-family:Helvetica;
}


/*
* ENTER *******************************************
*/

.enter{
  display: flex;
  flex-flow:column nowrap;
  align-items:center;
  justify-content:space-between;
  height: 100%;
  overflow: auto;
}

.enterPrincipal{
  width: 100%;
  max-height: 500px;
  display: flex;
  flex-flow:column wrap;
  align-items:center;

}

.enterHeader{
  width: 100%;
  height: 60px;
  background-color: #1F1AA6;
}

.enterFooter{
  height: 90px;
}

.logo{
  display: flex;
  flex-flow:column wrap;
  align-items:center;
  width: 200px;
}

.logo img{
  width: 60px;
  height: 60px;
  border-radius: 100%;

}

.login{
   display: flex;
  flex-flow:column wrap;
  align-items:center;
  padding-top: 50px;

}


@media (max-width: 600px) {
  .avatarFriend {
    height: 30px !important;
    width: 30px !important;

    line-height: 25px !important;
  }

  .avatarLetter {
    font-size: 15px !important;
  }

  .notificationList {
    width: 100%;
    height: 5.5em;
  }

}


/*
*   COMMENTS
*/

.chat{
    background-image: url('../img/symphony.png');
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 90%;
    padding-bottom: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.listComments{
    overflow: auto;
    height: 400px;
}

.commentDate{
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: lightblue;
  width: 80px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.itemComment{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  background: white;
  margin-right: 50px;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
}

.commentInfo{
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

}

.messageAndButtonSend{
    display: flex;
    flex-flow: row nowrap;
    margin-left: 40px;
    margin-right: 60px;
    height: 40px !important;
}

.buttonSendMessage{
  margin-top: 0 !important;
}

.inputSendMsg{
  overflow: hidden;
}

/* DIALOG */

.dialogFriendAndGroup{
  font-size: 14px;
}

.dialogFriendAndGroupManage{
  font-size: 17px;
}

.avatarFriendAndGroups{
  height: 30px !important;
  width: 30px !important;

  line-height: 20px !important;

}

.deleteButtonFriendGroup{
  color: #D9534F;
  margin-right: 5px;
}
