/*
  General use
*/

.biggerGlyphicon {
  font-size: 1.6em;
}

.inputText {
  text-align: center;
}

ul{
  list-style: none;
}
/*
  HEADER
*/

.header {
  background-color: cyan;
  width: 100%;
  height: 200px;
  text-align: center;
  border-bottom: 1px solid black;
  display: flex;
  flex-flow: row, nowrap;
}

.upper {
  position: relative;
  top: 15px;

}

.navegador{
  display: flex;
  flex-flow: row, nowrap;
  height: 30%;
  width: 60%
}

.calendario{
  height: 36px !important;
}

.search{
  width: 30%;
  display: flex;
  flex-flow: column;
}

.search-btn-input{
    display: flex;
    flex-flow: row, nowrap;
}

.input-search{
  margin-top: 10px;
}

.search-ul{

}

.principal{
  width: 30%;
}

.calendar-btn{
  width: 10%;
}

.image {
  height: 80px;
  width: 80px;
  border-radius: 50%;

  margin-top: 30px;

  transition: all 1s;

}

.image:hover {
  height: 100px;
  width: 100px;

  border-radius: 40%;

  margin-top: 20px;

}

.search-div{
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/*
  SECTION
*/

.article {
  background-color: hotpink;
  width: 100%;
  height: 300px;
  float: left;
}

/*
  LIST
*/

.list {

  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  border-bottom: 2px solid #FF330F;

  margin-right: 0 !important;
  margin-left: 0 !important;

}

.listNotCompleted {
  background-color: tomato;
}

.listCompleted {
  background-color: #A3A3A3;
}

.listCompleted:after {
  position: absolute;
  height: 1.5px;
  left: 22%;
  width: 73%;

  background-color: #C2C2C2;

  display: block;

  content: "";
}

.lists {
  width: 100%;
}

.listTitle {
  font-size: 2em;
  text-align: center;
}

/*
  TASKS
*/

.navMarginTop {
  padding: 50px !important;
}

/*.changeTask {
  margin-left: 35px;
}*/

/*
  ACCOUNT
*/

.account {
  text-align: center;

}

/*.aside{
  position: fixed;
  z-index: 1;
  background: green;
  opacity: 0.9;
}*/

.center{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
}


/*
* Avatar image
*/

.avatar{
  border-radius: 20px;
}

/*
  FRIENDS
*/

.avatarFriend {
  height: 80px !important;
  width: 80px !important;

  line-height: 70px !important;

}

.avatarLetter {
  font-size: 30px !important;

}

.inputFindFriends {
  width: 50% !important;
  border-radius: 20% !important;

}

.friendPhotoContainer {
  text-align: center;
}

.photoContainer {
  display: inline;
}

.friendRow {
  margin-top: 50px;
}

.friendName {
  position: relative;
  top: 10px;
}

.centered {
  text-align: center;
  margin-top: 30px;
}

.centerFriends {
  width: 80%;
  margin: 0 auto;
}

.friendsHeader {
  text-align: center;
}

.friendFinder {
  position: relative;
  left: 25%;
}

/*
* Groups
*/

.group-friends{
  display:flex;
  flex-flow:row wrap;
  align-items: center;
  padding-left: 2%;
  height: 45px;
}

.addGroup{
  display: flex;
  justify-content: flex-end;
  padding-right: 1%;
}

.deleteEdit{
  width: 50px;
<<<<<<< HEAD
  display: flex;
  justify-content: space-around;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.subMenuCont{
  padding-left: 5%;

}

.subMenuCont input{
  max-width: 200px;
  border: solid 1px lightblue;
  
}

.inputDiv div{
}


.inputDiv{
  display: flex;
  flex-flow:column nowrap;
  max-width:200px;
  border:;
}

=======
=======
>>>>>>> b04006782596b263eda7ce443d342ae88b1acf87
=======
>>>>>>> b04006782596b263eda7ce443d342ae88b1acf87
@media (max-width: 600px) {
  .avatarFriend {
    height: 30px !important;
    width: 30px !important;

    line-height: 25px !important;
  }

  .avatarLetter {
    font-size: 15px !important;
  }
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> b04006782596b263eda7ce443d342ae88b1acf87
=======
>>>>>>> b04006782596b263eda7ce443d342ae88b1acf87
=======
>>>>>>> b04006782596b263eda7ce443d342ae88b1acf87
=======

.subMenuCont{
  padding-left: 5%;

}

<<<<<<< HEAD
=======
.subMenuCont{
  padding-left: 5%;

}

>>>>>>> Alba2
.subMenuCont input{
  max-width: 200px;
  border: solid 1px lightblue;
  
}

.inputDiv div{
=======
  display: flex;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .avatarFriend {
    height: 30px !important;
    width: 30px !important;

    line-height: 25px !important;
  }

  .avatarLetter {
    font-size: 15px !important;
  }
>>>>>>> b04006782596b263eda7ce443d342ae88b1acf87
}


.inputDiv{
  display: flex;
  flex-flow:column nowrap;
  max-width:200px;
  border:;
}

<<<<<<< HEAD
>>>>>>> Alba2
=======
>>>>>>> Alba2
